@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
}

.hidden{
    display: none;
}

.text-neon-info{
    color: #fff;
    text-shadow: 0 0 5px #00b3ff,
                0 0 20px #00b3ff,
                0 0 60px #00b3ff,
                0 0 150px #00b3ff;
}

.btn-neon-yellow{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background-color: #ce9f11;
    color: #fff;
}

.btn-neon-yellow:hover{
    cursor: pointer;
    background-color: #ffc000;
    box-shadow: 0 0 5px #ffc000,
                0 0 20px #ffc000,
                0 0 60px #ffc000,
                0 0 150px #ffc000;
}