.header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
    height: 60px;
    background-color: #160e1e;
    padding: 0 5%;
    font-family: 'Anton', sans-serif;
}

.header__logo{
    width: 40%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #fff;
}

.header__link{
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__item{
    list-style-type: none;
    text-transform: uppercase;
}

.header__item > a{
    display: block;
    padding: 1em;
    font-size: 16px;
    color: #fff;
}

.header__icon-menu{
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.header__icon-line{
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}

.banner{
    margin-top: 60px;
    width: 100%;
    height: 50vh;
}

.banner__container{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.banner__image{
    width: 27.5%;
    padding-left: 10%;
}

.banner__image img{
    width: 300px;
    filter: drop-shadow(0 0 5px #00b3ff);
}

.banner__content{
    color: #fff;
    width: 50%;
}

.banner__title{
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.banner__text{
    font-size: 18px;
    letter-spacing: 0px;
    font-style: italic;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-word;
    overflow: hidden;
}

.banner__btn{
    display: block;
}

.banner__btn--neon{
    height: 40px;
    width: 140px;
    font-size: 15px;
    border-radius: 20px;
}

.pokemon-list{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 10%;
}

.pokemon-box{
    width: calc(20% - 10px);
    margin: 5px;
    position: relative;
}

.pokemon-box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pokemon-box::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(30px);
}

.pokemon-box--grass::before,
.pokemon-box--grass::after{
    background: linear-gradient(45deg, #92bf19, #00d0ff);
}

.pokemon-box--fire::before,
.pokemon-box--fire::after{
    background: linear-gradient(45deg, #ff3700, #ff6900);
}

.pokemon-box--water::before,
.pokemon-box--water::after{
    background: linear-gradient(45deg, #0094e5, #00d0ff);
}

.pokemon-box--spirit::before,
.pokemon-box--spirit::after{
    background: linear-gradient(45deg, #dc78c8, #f08cdc);
}

.pokemon-box--insects::before,
.pokemon-box--insects::after{
    background: linear-gradient(45deg, #32b432, #38ef7d);
}

.pokemon-box--normal::before,
.pokemon-box--normal::after{
    background: linear-gradient(45deg, #a0a0a0, #dcdcdc);
}

.pokemon-box--poison::before,
.pokemon-box--poison::after{
    background: linear-gradient(45deg, #be78be, #DA22FF);
}

.pokemon-box--electrical::before,
.pokemon-box--electrical::after{
    background: linear-gradient(45deg, #ffe100, #fffc00);
}

.pokemon-box--land::before,
.pokemon-box--land::after{
    background: linear-gradient(45deg, #cca142, #fac85a);
}

.pokemon-box--fairy::before,
.pokemon-box--fairy::after{
    background: linear-gradient(45deg, #ff7eb8, #ffafdc);
}

.pokemon-box--gladiator::before,
.pokemon-box--gladiator::after{
    background: linear-gradient(45deg, #c85500, #dc6900);
}

.pokemon-box--stone::before,
.pokemon-box--stone::after{
    background: linear-gradient(45deg, #a07850, #b48c64);
}

.pokemon-box span{
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.pokemon-box span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.pokemon-box__content{
    position: relative;
    z-index: 3;
    width: calc(100% - 20px);
    height: 100%;
    padding: 10px;
}

.pokemon-box__link{
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pokemon-box__image{
    width: 150px;
    margin: 0 auto;
}

.pokemon-box__name{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.pokemon-box__description{
    width: 100%;
    margin-top: 5px;
    font-size: 14px;
}

@media  screen and (max-width: 768px) {
    .header__logo{
        float: none;
        width: auto;
        justify-content: center;
    }

    .header__link{
        float: none;
        position: fixed;
        z-index: 9;
        left: 100%;
        right: 0;
        top: 60px;
        bottom: 0;
        width: auto;
        height: auto;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .8);
        justify-content: space-evenly;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    .header__item > a{
        font-size: 20px;
    }

    .header__icon-menu{
        display: block;
    }

    .header :checked ~ .header__link{
        left: 0;
    }

    .header :checked ~ .header__icon-menu .header__icon-line:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .header :checked ~ .header__icon-menu .header__icon-line:nth-child(2){
        opacity: 0;
    }

    .header :checked ~ .header__icon-menu .header__icon-line:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .banner{
        height: 20vh;
    }
    
    .banner__image{
        width: 40%;
        padding-left: 5%;
    }
    
    .banner__image img{
        width: 130px;
    }

    .banner__content{
        width: 60%;
    }
    
    .banner__title{
        font-size: 20px;
        font-weight: 600;
    }
    
    .banner__text{
        font-size: 12px;
        letter-spacing: 1px;
        -webkit-line-clamp: 3;
        padding-right: 20px;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }

    .banner__btn--neon{
        height: 30px;
        width: 80px;
        font-size: 12px;
        border-radius: 15px;
    }

    .pokemon-list{
        width: 90%;
        margin: 0 5%;
    }

    .pokemon-box{
        display: flex;
        width: calc(50% - 10px);
        margin: 5px;
    }
}